*.py[cod]
*.swp

# C extensions
*.so

# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
dist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml

# Complexity
output/*.html
output/*/index.html
.bak

# Sphinx
docs/_build

# Cookiecutter
output/
